.special-offers {
  padding: 10px 30px;
}
.special-offers-title {
  font-size: 21px;
  color: var(--primary-color);
  margin-bottom: 15px;
  width: fit-content;
  cursor: pointer;
}
.special-offers-title:hover {
  transform: scale(1.1);
  text-shadow: 3px 3px 15px crimson;
  font-weight: 500;
}
.special-offers-icon-wrapper {
  color: var(--strong-red-color);
  margin-right: 10px;
}
.special-offers-icon-wrapper i {
  margin-left: 7px;
}
.special-offers-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.offer:hover {
  box-shadow: 2px 2px 25px 5px rgb(119, 102, 106);
  transform: scale(1.05);
}
.offer {
  width: 49%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--white-color);
  margin-bottom: 25px;
  border-radius: 10px;
  padding: 5px;
  position: relative;
  cursor: pointer;
}
.offer-image-wrapper {
  width: 40%;
  height: 100%;
}
.offer-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.offer-info {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 60%;
}
.offer-title {
  color: var(--primary-color);
  font-size: 21px;
  margin: 15px 0;
}
.offer-price {
  margin: 10px 0;
}
.offer-price b {
  margin: 0 30px;
}
.offer-price-item {
  font-size: 21px;
  color: var(--strong-red-color);
  text-decoration: line-through;
  margin-right: 10px;
}
.offer-final-price-item {
  font-size: 23px;
  color: var(--info-color);
}
.offer-see-more {
  font-size: 20px;
  font-weight: 500;
  color: var(--white-color);
  cursor: pointer;
  background-color: var(--primary-color);
  border-radius: 15px 2px;
  margin-top: 10px;
  padding: 5px 10px;
}
.offer-discount {
  position: absolute;
  top: -16px;
  left: -5px;
  color: var(--white-color);
  background-color: var(--strong-red-color);
  font-weight: 500;
  font-size: 24px;
  border-radius: 50px;
  padding: 0 12px;
}
/* Media Queries */

@media (max-width: 1200px) {
  .offer-title {
    font-size: 17px;
  }
}

@media (max-width: 920px) {
  .offer {
    width: 100%;
  }
  .offer-title {
    font-size: 21px;
  }
}

@media (max-width: 540px) {
  .offer {
    margin-bottom: 50px;
  }
  .special-offers {
    padding: 15px;
  }
  .offer-title {
    font-size: 17px;
    margin-top: 30px;
  }
  .offer-discount {
    font-size: 18px;
  }
}
